/* background {
    color: #E2EFDE;
} */

body{
    width: 960px;
    margin: auto;
}


h1 {
    background-color: #9B7E46;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    padding: 12px;
    /* margin-top: 5px; */

    }
    
    p {
        color: red;
       
        margin-right: 100px;
    }


h2 {
    text-align: center;
    text-shadow: silver;
    background-color: #F4B266;
    width: 250px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
}

#TOC{
    text-align: center;
    text-shadow: silver;
    background-color: #F4B266;
    width: 250px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    list-style-type: none;
}


h3 {
    text-align: center;
    text-shadow: silver;
    background-color: #F4B266;
    width: 650px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
}
.square {
    width: 800px;
margin: 0 auto;

}

p {
    font-size: 18px;
    color: black;
    background-color: #E2EFDE;
    border-radius: 5px;
    font-weight: 800;
    width: 700px;
    margin: 0 auto;
}

div {
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;

}

div #special {
    background-color: #9B7E46;
    padding: 5%;
    margin: 0px;
    border: 0px;
}

ul {
    padding-left: 55px;
    padding-top: 25px;
    padding-right: 125px;
    padding-bottom: 25px;
    font-size: 20px;
}

#exception {
   width: 400px;
   margin: auto;
text-align: center;
}

article {
    background-color: #E2EFDE;
    padding-bottom: 45px;
    padding-top: 45px;
    border-radius: 5px;
}

/* E2EFDE */