background {
    color: #E2EFDE;
}

h1 {
    color: whitesmoke;
    background-color: #9B7E46;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;

    }
    
    p {
        color: red;
        margin-left: 100px;
        margin-right: 100px;
    }


h2 {
    text-align: center;
    text-shadow: silver;
    background-color: #F4B266;
    width: 250px;
    margin: 0 auto;
    border-radius: 5px;

}

.square {
    width: 800px;
margin: 0 auto;

}

p {
    font-size: 18px;
    color: black;
    background-color: #E2EFDE;
    border-radius: 5px;
    font-weight: 800;
    width: 800px;
    margin: 0 auto;
}

div {
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;

}

div #special {
    background-color: #9B7E46;
    padding: 5%;
    margin: 0px;
    border: 0px;
}

ul {
    padding-left: 555px;
    padding-top: 25px;
    padding-right: 125px;
    padding-bottom: 25px;
    font-size: 20px;
}

#exception {
   
text-align: center;
}

article {
    background-color: #E2EFDE;
    padding-bottom: 45px;
    padding-top: 45px;
}